.app {
  height: 100vh;
  width: 45vw;
  background-color: #c7ccdb;
  padding: 20px;
  display: grid;
  grid-template-rows: 40px auto minmax(0, 1fr);
  box-sizing: border-box;
}

.app h1 {
  /* line-height: 40px; */
  text-align: center;
}

.categories-container {
  margin: 10px auto;
  width: 60%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.reports-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.reports-list.empty {
  justify-content: center;
  align-items: center;
}

.report {
  width: 60%;
  padding: 15px;
  border-radius: 6px;
  background-color: #e1e5ee;
}

.report .caption {
  font-weight: bold;
}
